

<mat-form-field appearance="fill">
    <mat-label>amount</mat-label>
    <input matInput #amount>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>unit
    </mat-label>
    <mat-select #unit>
        <mat-option value="pkg">pkg</mat-option>
        <mat-option value="stk">stk</mat-option>
        <mat-option value="g">g</mat-option>
        <mat-option value="kg">kg</mat-option>
        <mat-option value="litre">Liter</mat-option>

    </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ingredient</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           #ingredient>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

<button mat-stroked-button (click)="newIngredient(ingredient.value, unit.value, amount.value)">Add</button>